h1{
    color: brown;
    font-family: Verdana;
    background-color: blue;
    padding: 10px;
    
}
body{
    color: greenyellow;
    font-family: Arial;
    background-color: grey;
    padding: 15px;

}
h2{
    font-family: Tahoma;
    color: green;
}